
.mainContainer{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 1280;
    margin: 0 auto;
    align-items: center;
    padding: 0 20px;
}
.card_container{
    width: 100%;
    display:flex ;
    /* width: 700px; */
    height: auto;
    gap: 20px;
    flex-wrap: wrap;
}
.container{
    display: flex;
    width: 100%;
    max-width: 1280px;
    flex-direction: column;
    gap: 30px;
  
}.content{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.course_heading{
    font-size: 22px;
}
.detail_container{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    padding: 0 20px;
}
.d_sub_container{
    display: flex;
    width: 100%;
    max-width: 1280px;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
    margin: 0px 0 50px 0;

}
.left{
    display: flex;
    flex-direction: column;
    gap: 14px;
}
.right{
    display: flex;
    width: 100%;
    height: 100%;
}
.heading{
    font-size: 34px;
}
.text{
    font-size: 20px;
    max-width: 800px;
}
.min_stuff{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.remove_btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    padding: 8px;
    cursor: pointer;
    background-color: white;
    border: 1px solid rgba(0,0,0,0.3);
}
@media (max-width : 700px){
    .d_sub_container{
        display: flex;
        width: 100%;
        max-width: 1280px;
        align-items: center;
        justify-content: space-around;
        gap: 30px;
        flex-direction: column-reverse;
    
    }
}